{% extends 'BitcoinTransactions/bitcoin.html' %}

{% block transactions %}
    {% if transactions %}
        <h2>Transactions for: {{ address.value }}</h2>
        <img src="{% url 'BitcoinTransactions:qr' address.value %}" />
        <div>
            <strong>Count of transactions: </strong>{{ transactions_info.count }}<br>
            <strong>Sum of transactions(in Satoshi): </strong>{{ transactions_info.sum }}<br>
            <strong>Saldo of transactions(in Satoshi): </strong>{{ transactions_info.saldo }}<br>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Transaction id</th>
                    <th>Value in Satoshi</th>
                    <th>Value in BTC</th>
                    <th>Date</th>
                    <th>Size</th>
                    <th>Version</th>
                    <th>Inputs</th>
                    <th>Outputs</th>
                    <th>Weight</th>
                    <th>Block height</th>
                    <th>Result</th>
                    <th>Hash</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.transaction.transaction_id }}</td>
                    <td>{% if transaction.is_in %}-{% endif %}{{ transaction.value }}</td>
                    <td>{% if transaction.is_in %}-{% endif %}{{ transaction.value_btc }}</td>
                    <td>{{ transaction.transaction.date }}</td>
                    <td>{{ transaction.transaction.size }}</td>
                    <td>{{ transaction.transaction.version }}</td>
                    <td>{{ transaction.transaction.vin }}</td>
                    <td>{{ transaction.transaction.vout }}</td>
                    <td>{{ transaction.transaction.weight }}</td>
                    <td>
                        {% if transaction.transaction.block_height %}
                            {{ transaction.transaction.block_height }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ transaction.transaction.result }}</td>
                    <td>{{ transaction.transaction.hash }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No transactions
    {% endif %}
{% endblock %}